@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

div {
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
}

.left {
    width: 50%;
    position: relative; 
}

.left img {
    width: 100%;
    height: auto;
    display: block; 
}

.left div {
    transform: translate(-50%, -50%);
    text-align: center;
}


.logo-container {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 100%;
    display: flex;       
    align-items: center; 
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, .5)
}

.logo-container img {
    width: 40px;
    height: auto;
}

.logo-container span {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    font-family: 'Tangerine', 'Times New Roman', Times, serif;

}

.credit-caption {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    color: lightgray;
    font-size: xx-small;
}
.right {
    width: 50%;
    background-color: lightgray;
}

.personal-container {
    background-color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);;
}
.personal-info {
    display: flex;
}
.personal-info div{
    display: flex;       
    align-items: center; 
    justify-content: center;
    flex: auto;
    flex-direction: column;
    font-size: small;
}
input {
    width: 7rem;
}
button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Adjust this value for more or less roundness */
  }
.log-in {
    text-decoration: none;
    color: darkmagenta;

}
.underline {
    text-decoration: underline;
  }