body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
#sidebar {
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #E8B4BC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow-y: auto;
}

.image-button {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #E8B4BC;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    width: 100%;
}

.image-button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

#settings {
    margin-top: 3rem;
}
#title {
    font-size: 2rem;
    justify-content: center;
}
#title img {
    width: 3rem;
    height: 3rem;
}
#header {
    position: fixed;
    background-color: red;
    width: 100%;
    height: 50px;
}
