.sidebar {
    height: 100%;
    width: 20%;
    min-width: 100px;
    max-width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #E8B4BC;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.sidebar div {
    text-align: center;
}