.sidebar {
    height: 100%;
    width: 30%;
    min-width: 100px;
    max-width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #E8B4BC;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    gap: 0.75rem;
    overflow-y: auto;
}

.image-button {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #E8B4BC;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
    width: 100%;
}

.image-button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}
